<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales"> <!-- parameterType은 생략가능, 생략됨 -->
	
	<resultMap type="com.dowell.edu.vo.sales.SalesMasterVO" id="SalesMasterVO">
    	<result column="prt_cd" property="prt_cd"/>
    	<result column="prt_nm" property="prt_nm"/>
    	<result column="cust_no" property="cust_no"/>
    	<result column="cust_nm" property="cust_nm"/>
    	<result column="sal_no" property="sal_no"/>
    	<result column="tot_sal_qty" property="tot_sal_qty"/>
    	<result column="tot_sal_amt" property="tot_sal_amt"/>
    	<result column="csh_stlm_amt" property="csh_stlm_amt"/>
    	<result column="crd_stlm_amt" property="crd_stlm_amt"/>
    	<result column="pnt_stlm_amt" property="pnt_stlm_amt"/>
   		<result column="lst_upd_id" property="lst_upd_id"/>
   		<result column="user_nm" property="user_nm"/>
   		<result column="lst_upd_dt_time" property="lst_upd_dt_time"/>
   		<result column="sal_seq" property="sal_seq"/>
   		<result column="prd_cd" property="prd_cd"/>
   		<result column="prd_nm" property="prd_nm"/>
   		<result column="sal_qty" property="sal_qty"/>
   		<result column="sal_amt" property="sal_amt"/>
	</resultMap>
	
	<!-- 판매전체조회 -->
	<select id="selectslaesAllSearchList" resultMap="SalesMasterVO">
	SELECT
		     PRTMT.PRT_CD 														<!-- 매장코드 -->
		    ,PRTMT.PRT_NM 														<!-- 매장명 -->
		    ,TO_CHAR(TO_DATE(SAMT.SAL_DT, 'YYMMDD'), 'YYYY-MM-DD') SAL_DT 		<!-- 판매일자 -->
		    ,SAMT.CUST_NO 														<!-- 고객번호 -->
		    ,CSMT.CUST_NM 														<!-- 고객이름 -->
		    ,SAMT.SAL_TP_CD 													<!-- 판매구분코드 -->
		    ,SAMT.SAL_NO 														<!-- 판매번호 -->
		   ,CASE WHEN SAMT.SAL_TP_CD = 'RTN' THEN SAMT.TOT_SAL_QTY *(-1) 		<!-- 판매구분코드가 'RTN'일떄 금액에 -붙이기 -->
		    	ELSE SAMT.TOT_SAL_QTY 											<!-- TOT_SAL_QTY =  총수량 -->
		    	END TOT_SAL_QTY
		    ,CASE WHEN SAMT.SAL_TP_CD = 'RTN' THEN SAMT.TOT_SAL_AMT *(-1)
		    	ELSE SAMT.TOT_SAL_AMT 											<!-- TOT_SAL_AMT =  총금액 -->
		    	END TOT_SAL_AMT
		    ,CASE WHEN SAMT.SAL_TP_CD = 'RTN' THEN SAMT.CSH_STLM_AMT *(-1)
		    	ELSE SAMT.CSH_STLM_AMT 											<!-- CSH_STLM_AMT =  수금 현금 -->
		    	END CSH_STLM_AMT
		   ,CASE WHEN SAMT.SAL_TP_CD = 'RTN' THEN SAMT.CRD_STLM_AMT *(-1)
		    	ELSE SAMT.CRD_STLM_AMT 											<!-- CRD_STLM_AMT =  수금 카드 -->
		    	END CRD_STLM_AMT
		    ,CASE WHEN SAMT.SAL_TP_CD = 'RTN' THEN SAMT.PNT_STLM_AMT *(-1)
		    	ELSE SAMT.PNT_STLM_AMT 											<!-- PNT_STLM_AMT =  수금 포인트 -->
		    	END PNT_STLM_AMT  		
		    
		    ,SAMT.LST_UPD_ID 													<!-- 최종수정자 -->
		    ,USMT.USER_NM
		    ,TO_CHAR(SAMT.LST_UPD_DT, 'YYYY-MM-DD HH24:MI:SS') AS LST_UPD_DT_TIME <!-- 최종수정시간 -->
	FROM
		    CS_SAL01_MT    SAMT 												<!-- SAMT = 고객판매테이블 -->
		    LEFT JOIN CS_CUST01_MT   CSMT ON CSMT.CUST_NO = SAMT.CUST_NO 		<!-- CSMT고객상세의 고객번호 =  PRTMT거래처관리의 고객번호 -->
		    LEFT JOIN MA_PRT_MT      PRTMT ON SAMT.PRT_CD = PRTMT.PRT_CD 		<!-- PRTMT거래처관리의 매장코드 = USMT사용자의 매장코드 -->
		    LEFT JOIN MA_USER_MT     USMT ON SAMT.LST_UPD_ID = USMT.USER_ID 	<!-- 고객판매테이블 최종수정아이디 = USMT사용자의 사용자ID -->
	WHERE    
		1 = 1
   														
   				AND SAL_DT BETWEEN TO_DATE(#{fromDate},'YYYY-MM-DD') 				<!-- 판매일자(SAL_DT)는 fromDate 날짜와 사이에 toDate날짜 사이에 위치 --> 
       								AND TO_DATE(#{toDate},'YYYY-MM-DD')
       			AND PRTMT.PRT_CD = #{jn_prt_cd} 									<!-- 매장코드 -->
		        <if test="cust_no != ''">											<!-- 고객번호(cust_no)가 있을 경우 -->
		            AND SAMT.CUST_NO = #{cust_no}
		        </if>

			ORDER BY SAL_DT DESC, SAMT.SAL_NO DESC
	</select>
	
	<!-- 고객판매수금등록(팝업)의 공통코드 sal_tp_cd(판매구분), crd_co_cd(카드회사) -->
	<select id="selectSaltpCd" resultType="com.dowell.edu.vo.common.CodeDetailVO">
	SELECT 							
	      CODE_CD 						<!-- 공통코드 -->
	     ,DTL_CD 						<!-- 세부코드 -->
	     ,DTL_CD_NM 					<!-- 세부코드명 -->
	FROM
	     MA_CODE_DT 					<!-- 코드상세테이블 -->
	WHERE
		 CODE_CD in('SAL_TP_CD' 		<!-- 공통코드에 (판매구분코드,카드회사)포함 -->
		 			,'CRD_CO_CD')
	ORDER BY DTL_CD ASC
	
	</select>
	
	<!-- selectpartnerInvenInqList -->
	<!-- 매장재고조회(팝업) -->
	<select id="selectpartnerInvenInqList" resultType="com.dowell.edu.vo.sales.SalesIvcoMasterVO">
	SELECT
	   	 IVCMT.PRT_CD 														<!-- 매장코드 -->
	   	 ,IVCMT.PRD_CD 														<!-- 상품코드 -->
	   	 ,PRDMT.PRD_NM 														<!-- 상품명 -->
	   	 ,IVCMT.IVCO_QTY 													<!-- 상품수량 -->
	   	 ,PRDMT.PRD_CSMR_UPR 												<!-- 상품소비자단가 -->
	   	 ,PRDMT.PRD_TP_CD 													<!-- 상품매입단가 -->
	   	 ,PRDMT.TAX_CS_CD 													<!-- 세금분류코드 -->
	   	 ,PRDMT.PRD_SS_CD 													<!-- 상품상태코드 -->
	FROM
	   	 SD_IVCO01_MT   IVCMT 												<!-- IVCMT 매장현재고 -->
	   	 INNER JOIN MA_PRD01_MT    PRDMT ON IVCMT.PRD_CD = PRDMT.PRD_CD 		<!-- 매장현재고의 상품코드 = PRDMT 상품관리테이블의 상품코드 -->
	WHERE
		1 =1
	   	 AND PRT_CD = #{prt_cd} 											
	  	<if test="prd_cd != ''"> 											<!-- 상품코드가 있을떄 -->
	  		and (IVCMT.PRD_CD like '%' || #{prd_cd} || '%'
	  		or prd_nm like '%' || #{prd_cd} || '%')
	  	</if>

	</select>
	
	
	<!-- 판매실적조회list -->
	<select id="salesDetailList" resultMap="SalesMasterVO" >
	SELECT
	   	  SALMT.CUST_NO 													<!-- 고객번호 -->
	   	 ,SALDT.SAL_NO 														<!-- 판매번호 -->
	   	 ,SALDT.SAL_SEQ
	   	 ,SALDT.PRD_CD 														<!-- 상품코드 -->
	   	 ,TO_CHAR(TO_DATE(SALDT.SAL_DT,'YYMMDD'),'YYYY-MM-DD') SAL_DT 		<!-- 판매날짜 -->
	   	 ,SALDT.PRT_CD 														<!-- 매장코드 -->
	   	 ,PRDMT.PRD_NM 														<!-- 상품명 -->
	   	 ,SALDT.SAL_QTY 													<!-- 판매수량 -->
	   	 ,TO_CHAR(SALDT.SAL_AMT, 'FM999,999,999,999,999') SAL_AMT 			<!-- 판매금액 -->
	   	 ,SALMT.SAL_TP_CD 													<!-- 판매구분코드 -->
	FROM
	   	 CS_SAL01_DT   SALDT 												<!-- SALDT고객판매상세 테이블 -->
	   	 LEFT JOIN CS_SAL01_MT   SALMT ON SALMT.PRT_CD = SALDT.PRT_CD 		<!-- SALMT고객판매의 매장코드 = 고객판매상세의 매장코드 -->
	                                   AND SALMT.SAL_DT = SALDT.SAL_DT 		<!--  고객판매의 판매일자 = 고객판매상세의 판매일자 -->
	                                   AND SALMT.SAL_NO = SALDT.SAL_NO 		<!--  고객판매의 판매번호 = 고객판매상세의 판매번호 -->
	   	 LEFT JOIN MA_PRD01_MT PRDMT ON PRDMT.PRD_CD = SALDT.PRD_CD 		<!--  PRDMT상품관리의 상품코드 = 고객판매상세의 상품코드 -->
	WHERE
	 	 	 SALMT.CUST_NO = #{cust_no} 
		 AND SALDT.PRT_CD =#{prt_cd}
		 AND SALDT.SAL_DT=#{sal_dt}
		 AND SALDT.SAL_NO=#{sal_no}
	</select>

	

	<!-- 반품할 고객판매정보list -->
	<select id="selectCustomerRtnList" resultType="com.dowell.edu.vo.sales.SalesMasterVO">
	SELECT  DISTINCT							
		     SALMT.PRT_CD 															<!-- 매장코드 -->
		    ,SALMT.SAL_DT 															<!-- 판매일자 -->
		    ,SALMT.SAL_NO 															<!-- 판매번호 -->
		    ,SALMT.SAL_TP_CD 														<!-- 판매구분코드 -->
		    ,SALMT.TOT_SAL_QTY 														<!-- 총수량 -->
		    ,SALMT.TOT_SAL_AMT 														<!-- 총금액 -->
		    ,SALMT.TOT_VOS_AMT 														<!-- 총공급가액 -->
		    ,SALMT.TOT_VAT_AMT 														<!-- 총부가세액 -->
		    ,SALMT.CSH_STLM_AMT 													<!-- 현금결제금액 -->
		    ,SALMT.CRD_STLM_AMT 													<!-- 카드결제금액 -->
		    ,SALMT.PNT_STLM_AMT 													<!-- 포인트결제금액 -->
		    ,SALMT.CUST_NO 															<!-- 고객번호 -->
		    ,SALMT.CRD_NO 															<!-- 카드번호 -->
		    ,SALMT.VLD_YM 															<!-- 유효년월 -->
		    ,SALMT.CRD_CO_CD 														<!-- 카드회사 -->
		    ,SALMT.FST_REG_DT 														<!-- 최조등록일자 -->
		    ,SALMT.FST_USER_ID 														<!-- 최초등록자 -->
		    ,SALMT.LST_UPD_DT 														<!-- 최종수정일자 -->
		    ,SALMT.LST_UPD_ID 														<!-- 최종수정자 -->
	FROM
		    cs_sal01_mt   SALMT 													<!-- SALDT 고객판매상세 -->
		    LEFT JOIN cs_sal01_dt   SALDT ON SALMT.PRT_CD = SALDT.PRT_CD 			<!-- SALMT 고객판매상세의 매장코드, 판매일자, 판매번호 -->
		                                   AND SALMT.SAL_DT = SALDT.SAL_DT 			<!-- SALDT 고객판매상세의 매장코드, 판매일자, 판매번호 -->	
		                                   AND SALMT.SAL_NO = SALDT.SAL_NO 			<!-- 동일 -->
	WHERE
		    SALMT.CUST_NO = #{cust_no}
		    AND SALMT.PRT_CD = #{prt_cd}
		    AND SALMT.SAL_DT = #{sal_dt}
		    AND SALMT.SAL_NO = #{sal_no}
	</select>
	
	<!-- 반품후: 반품 코드 RTN수정 -->
	<insert id="insertRtn">
	<foreach item="list" collection="listr" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
	 INTO CS_SAL01_MT (
							    PRT_CD 														<!-- 매장코드 -->
							    ,SAL_DT 													<!-- 판매일자 -->
							    ,SAL_NO 													<!-- 판매번호 -->
							    ,SAL_TP_CD 													<!-- 판매구분코드 -->
							    ,TOT_SAL_QTY 												<!-- 총판매수량 -->
							    ,TOT_SAL_AMT 												<!-- 총판매금액 -->
							    ,TOT_VOS_AMT 												<!-- 총공급가액 -->
							    ,TOT_VAT_AMT 												<!-- 총부가세액 -->
							    ,CSH_STLM_AMT 												<!-- 현금결제금엑 -->
							    ,CRD_STLM_AMT 												<!-- 카드결제금액 -->
							    ,PNT_STLM_AMT 												<!-- 포인트결제금액 -->
							    ,CUST_NO 													<!-- 고객번호 -->
							    ,CRD_NO 													<!-- 카드번호 -->
							    ,VLD_YM 													<!-- 유효기간 -->
							    ,CRD_CO_CD 													<!-- 카드회사 -->
							    ,FST_REG_DT 												<!-- 최초등록일자 -->
							    ,FST_USER_ID 												<!-- 최초등록자 -->
							    ,LST_UPD_DT 												<!-- 최종수정일자 -->
							    ,LST_UPD_ID
							) VALUES (
							     #{list.prt_cd} 												<!-- 매장코드 -->
							    ,TO_CHAR(SYSDATE, 'YYYYMMDD') 									<!-- 판매일자 -->
							 	,(
							 		SELECT NVL(MAX(SAL_NO),0) + 1
							 		FROM CS_SAL01_MT 											<!-- 판매번호 -->
							 			WHERE  
											     PRT_CD = #{list.prt_cd} 							
											    AND SAL_DT = TO_CHAR(SYSDATE, 'YYYYMMDD')
							 	
							 	)
							 	
							    ,'RTN' 															<!-- 판매구분코드 = 반품 -->
							    ,#{list.tot_sal_qty} 											<!-- 총판매수량 -->
							    ,#{list.tot_sal_amt} 											<!-- 총판매금액 -->
							    ,#{list.tot_vos_amt} 											<!-- 총공급가액 -->
							   	,#{list.tot_vat_amt} 											<!-- 총부가세액 -->
							    ,#{list.csh_stlm_amt} 											<!-- 현금결제금액 -->
							    ,#{list.crd_stlm_amt} 											<!-- 카드결제금액 -->
							    ,#{list.pnt_stlm_amt} 											<!-- 포인트사용금액 -->
							    ,#{list.cust_no} 												<!-- 고객번호 -->
							    ,#{list.crd_no, jdbcType=VARCHAR} 								<!-- 카드번호 -->
							    ,#{list.vld_ym, jdbcType=VARCHAR} 								<!-- 유효년월 -->
							    ,#{list.crd_co_cd, jdbcType=VARCHAR} 							<!-- 카드회사 -->
							    ,#{list.fst_reg_dt} 											<!-- 최초등록자 -->
							    ,#{list.fst_user_id} 											<!-- 최초등록자 -->
							    ,SYSDATE 														<!-- 최종수정일자 -->
							    ,#{list.user_id} 												<!-- 최종수정자 -->
							)
	 </foreach> 
	</insert>

	<!-- 반품할 상품디테일list  -->
	<select id="selectDetailRtnList" resultType="com.dowell.edu.vo.sales.SalesDetailVO">
	
	SELECT
		    SALDT.PRT_CD 													 		<!-- 매장코드 -->
		    ,SALDT.SAL_DT 													 		<!-- 판매일자 -->
		    ,SALDT.SAL_NO 													 		<!-- 판매번호 -->
		    ,SALDT.SAL_SEQ 													 		<!-- 판매일련번호 -->
		    ,SALDT.PRD_CD 													 		<!-- 상품코드 -->
		    ,SALDT.PRD_CSMR_UPR 													<!-- 소비자단가 -->
		    ,SALDT.SAL_QTY 													 		<!-- 판매수량 -->
		    ,SALDT.SAL_AMT 													 		<!-- 판매금액 -->
		    ,SALDT.SAL_VOS_AMT 													 	<!-- 판매공급가액 -->
		    ,SALDT.SAL_VAT_AMT 													 	<!-- 판매부가세액 -->
		    ,SALDT.FST_REG_DT 													 	<!-- 최초등록일자 -->
		    ,SALDT.FST_USER_ID 													 	<!-- 최초등록자 -->
		    ,SALDT.LST_UPD_DT 													 	<!-- 최종수정일자 -->
		    ,SALDT.LST_UPD_ID 													 	<!-- 최종수정자 -->
	FROM
		    CS_SAL01_MT   SALMT													<!-- SALDT고객판매상세 -->
		    LEFT JOIN  CS_SAL01_DT   SALDT ON SALMT.PRT_CD = SALDT.PRT_CD 			<!-- SALMT고객판매 -->
		                                   AND SALMT.SAL_DT = SALDT.SAL_DT 			<!-- 총판매수량 -->
		                                   AND SALMT.SAL_NO = SALDT.SAL_NO 			<!-- 총판매수량 -->
	WHERE
		    SALMT.CUST_NO = #{cust_no}
		    AND SALDT.PRT_CD = #{prt_cd}
		    AND SALDT.SAL_DT = #{sal_dt}
		    AND SALDT.SAL_NO = #{sal_no}
	
	</select>
	
	<!-- 반품후 상품디테일 다시 insert -->
	<update id="insertdetailRtn">
	<foreach item="list" collection="listd" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
		 INTO CS_SAL01_DT (
							     PRT_CD 													 	<!-- 매장코드 -->
							    ,SAL_DT 													 	<!-- 판매일자 -->
							    ,SAL_NO 													 	<!-- 판매번호 -->
							    ,SAL_SEQ 													 	<!-- 판매일련번호 -->
							    ,PRD_CD 													 	<!-- 상품코드 -->
							    ,PRD_CSMR_UPR 													<!-- 소비자단가 -->
							    ,SAL_QTY 													 	<!-- 판매수량 -->
							    ,SAL_AMT 													 	<!-- 판매금액 -->
							    ,SAL_VOS_AMT 													<!-- 판매공급가액 -->
							    ,SAL_VAT_AMT 													<!-- 판매부가세액 -->
							    ,FST_REG_DT 													<!-- 최초등록일자 -->
							    ,FST_USER_ID 													<!-- 최초등록자 -->
							    ,LST_UPD_DT 													<!-- 최종수정일자 -->
							    ,LST_UPD_ID 													<!-- 최종수정자 -->
							) VALUES (
							    #{list.prt_cd} 													<!-- 매장코드 -->
							    ,#{list.sal_dt} 												<!-- 판매일자 -->
							    ,#{list.sal_no} 												<!-- 판매번호 -->
							    ,#{index}+1														<!-- 판매일련번호 -->
							    ,#{list.prd_cd} 												<!-- 상품코드 -->
							    ,#{list.prd_csmr_upr} 											<!-- 소비자단가 -->
							    ,#{list.sal_qty} 												<!-- 판매수량 -->
							    ,#{list.sal_amt} 												<!-- 판매금액 -->
							   	,#{list.sal_vos_amt} 											<!-- 판매공급가액 -->
							    ,#{list.sal_vat_amt} 											<!-- 판매부가세액 -->
							   	,#{list.fst_reg_dt} 											<!-- 최초등록일자 -->
							    ,#{list.fst_user_id} 											<!-- 최초등록자 -->
							    ,SYSDATE 													 	<!-- 최종수정일자 -->
							    ,#{list.user_id} 												<!-- 최종수정자 -->
							)
	
	
	</foreach>
	</update>
	
	<!-- 고객판매수금등록-고객판매 -->
	<insert id="insertsalesRegisterMt">
	INSERT INTO CS_SAL01_MT (
							    PRT_CD 													 		<!-- 매장코드 -->
							    ,SAL_DT 													 	<!-- 판매일자 -->
							    ,SAL_NO 													 	<!-- 판매번호 -->
							    ,SAL_TP_CD 													 	<!-- 판매구분코드 -->
							    ,TOT_SAL_QTY 													<!-- 총판매수량 -->
							    ,TOT_SAL_AMT 													<!-- 총판매금액 -->
							    ,TOT_VOS_AMT 													<!-- 총공급가액 -->
							    ,TOT_VAT_AMT 													<!-- 총부가세액 -->
							    ,CSH_STLM_AMT 													<!-- 현금결제금액 -->
							    ,CRD_STLM_AMT 													<!-- 카드결제금액 -->
							    ,CUST_NO 													 	<!-- 고객번호 -->
							    ,CRD_NO 													 	<!-- 카드번호 -->
							    ,VLD_YM 													 	<!-- 유효년월 -->
							    ,CRD_CO_CD 													 	<!-- 카드회사 -->
							    ,FST_REG_DT 													<!-- 최초등록일자 -->
							    ,FST_USER_ID 													<!-- 최초등록자 -->
							    ,LST_UPD_DT 													<!-- 최종수정일자 -->
							    ,LST_UPD_ID 													<!-- 최종수정자 -->
							) VALUES (
							     #{prt_cd} 														<!-- 매장코드 -->
							    ,#{sal_dt} 														<!-- 판매일자 -->
							 	,(
							 		SELECT 
							 				NVL(MAX(SAL_NO),0) + 1
							 		FROM 
							 				CS_SAL01_MT
							 		WHERE  
										    PRT_CD = #{prt_cd} 									<!-- 판매번호 -->
										    AND SAL_DT =  TO_CHAR(SYSDATE, 'YYYYMMDD')
							 	)
							    ,#{sal_tp_cd} 													<!-- 판매구분코드 -->
							    ,#{tot_sal_qty} 												<!-- 총판매수량 -->
							    ,#{tot_sal_amt} 												<!-- 총판매금액 -->
							    ,#{tot_vos_amt} 												<!-- 총공급가액 -->
							   	,#{tot_vat_amt} 												<!-- 총부가세액 -->
							    ,#{csh_stlm_amt} 												<!-- 현금결제금액 -->
							    ,#{crd_stlm_amt} 												<!-- 카드결제금액 -->
							    ,#{cust_no} 													<!-- 고객번호 -->
							    ,#{crd_no, jdbcType=VARCHAR} 														<!-- 카드번호 -->
							    ,#{vld_ym, jdbcType=VARCHAR} 														<!-- 유효년월 -->
							    ,#{crd_co_cd, jdbcType=VARCHAR} 													<!-- 카드회사 -->
							    ,SYSDATE 														<!-- 최초등록일자 -->
							    ,#{user_id} 													<!-- 최초등록자 -->
							    ,SYSDATE 														<!-- 최종수정일자 -->
							    ,#{user_id} 													<!-- 최종수정자 -->
							)
	</insert>
	
	<!-- 고객판매수금등록-고객판매상세 -->
	<update id="insertsalesRegisterDtList">
	<foreach item="list" collection="list" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
		 INTO CS_SAL01_DT (
						     PRT_CD 													 		<!-- 매장코드 -->
						    ,SAL_DT 													 		<!-- 판매일자 -->
						    ,SAL_NO 													 		<!-- 판매번호 -->
						    ,SAL_SEQ 													 		<!-- 판매일련번호 -->
						    ,PRD_CD 													 		<!-- 상품코드 -->
						    ,PRD_CSMR_UPR 													 	<!-- 소비자단가 -->
						    ,SAL_QTY 													 		<!-- 판매수량 -->
						    ,SAL_AMT 													 		<!-- 판매금액 -->
						    ,SAL_VOS_AMT 													 	<!-- 판매공급가액 -->
						    ,SAL_VAT_AMT 													 	<!-- 판매부가세액 -->
						    ,FST_REG_DT 													 	<!-- 최초등록일자 -->
						    ,FST_USER_ID 													 	<!-- 최초등록자 -->
						    ,LST_UPD_DT 													 	<!-- 최종수정일자 -->
						    ,LST_UPD_ID 													 	<!-- 매장코드 -->
						) VALUES (
						    #{list.prt_cd} 													 	<!-- 매장코드 -->
						    ,#{list.sal_dt}														<!-- 판매일자 -->
						    ,#{list.sal_no} 													<!-- 판매번호 -->
						    ,#{index}+1 														<!-- 판매일련번호 -->
						    ,#{list.prd_cd} 													<!-- 상품코드 -->
						    ,#{list.prd_csmr_upr} 												<!-- 소비자단가 -->
						    ,#{list.sal_qty} 													<!-- 판매수량 -->
						    ,#{list.sal_amt} 													<!-- 판매금액 -->
						   	,#{list.sal_vos_amt} 												<!-- 판매공급가액 -->
						    ,#{list.sal_vat_amt} 												<!-- 판매부가세액 -->
						   	,SYSDATE 													 		<!-- 최초등록일자 -->
						    ,#{list.user_id} 													<!-- 최초등록자 -->
						    ,SYSDATE 													 		<!-- 최종수정일자 -->
						    ,#{list.user_id} 													<!-- 최종수정자 -->
						)
	
	
	</foreach>
	
	</update>
	
	<!-- 가장 최신 sal_no -->
	<select id="selectSalNo" resultType="Integer">
	SELECT 
			MAX(SAL_NO) sal_no 							<!-- sal_no판매번호의 Max값 -->
	FROM 	CS_SAL01_MT 								<!-- 고객판매테이블 -->
	WHERE  
			PRT_CD = #{prt_cd}
		AND SAL_DT =  TO_CHAR(SYSDATE, 'YYYYMMDD')
	</select>
	
	<!-- 매장에 따른 매장현재고 -->
	<select id="selectDetailIvcoList" resultType="com.dowell.edu.vo.sales.SalesIvcoMasterVO">
	SELECT
   		PRT_CD, 									<!-- 매장코드 -->
	    PRD_CD, 									<!-- 상품코드 -->
	    IVCO_QTY, 									<!-- 판매수량 -->
	    FST_REG_DT, 								<!-- 최초등록일자 -->
	    FST_USER_ID 								<!-- 최초등록자 -->
	FROM
	    SD_IVCO01_MT 								<!-- 매장현재고 테이블 -->
	WHERE
	    PRT_CD = #{prt_cd}
	
	</select>
	
	<!-- 현매장재고 update -->
	<update id="updateSalesIvcoQty">
	UPDATE SD_IVCO01_MT 							<!-- 매장현재고테이블 -->
		SET
			 IVCO_QTY = #{ivco_qty}					<!-- 판매수량 -->
			,LST_UPD_DT = SYSDATE					<!-- 최종수정일자 -->
			,LST_UPD_ID = #{user_id}				<!-- 최종수정자 -->
	WHERE 
			PRT_CD =#{prt_cd}
		AND PRD_CD = #{prd_cd}
	
	
	</update>
</mapper>