<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sales"> <!-- parameterType은 생략가능, 생략됨 -->
	
	<resultMap type="com.dowell.edu.vo.sales.SalesMasterVO" id="SalesMasterVO">
    	<result column="prt_cd" property="prt_cd"/>
    	<result column="prt_nm" property="prt_nm"/>
    	<result column="cust_no" property="cust_no"/>
    	<result column="cust_nm" property="cust_nm"/>
    	<result column="sal_no" property="sal_no"/>
    	<result column="tot_sal_qty" property="tot_sal_qty"/>
    	<result column="tot_sal_amt" property="tot_sal_amt"/>
    	<result column="csh_stlm_amt" property="csh_stlm_amt"/>
    	<result column="crd_stlm_amt" property="crd_stlm_amt"/>
    	<result column="pnt_stlm_amt" property="pnt_stlm_amt"/>
   		<result column="lst_upd_id" property="lst_upd_id"/>
   		<result column="user_nm" property="user_nm"/>
   		<result column="lst_upd_dt_time" property="lst_upd_dt_time"/>
   		
   		<result column="prd_cd" property="prd_cd"/>
   		<result column="prd_nm" property="prd_nm"/>
   		<result column="sal_qty" property="sal_qty"/>
   		<result column="sal_amt" property="sal_amt"/>
   		
	</resultMap>
	
	<!-- 판매전체조회 -->
	<select id="selectslaesAllSearchList" resultMap="SalesMasterVO">
	SELECT
		    PRTMT.PRT_CD,
		    PRTMT.PRT_NM,
		    to_char(to_date(samt.sal_dt, 'YYMMDD'), 'YYYY-MM-DD') sal_dt,
		    SAMT.cust_no,
		    CSMT.cust_nm,
		    samt.sal_tp_cd,
		    samt.sal_no,
		    case when samt.sal_tp_cd = 'RTN' then samt.tot_sal_qty *(-1)
		    	else samt.tot_sal_qty
		    	end tot_sal_qty,
		    case when samt.sal_tp_cd = 'RTN' then samt.tot_sal_amt *(-1)
		    	else samt.tot_sal_amt
		    	end tot_sal_amt,
		    case when samt.sal_tp_cd = 'RTN' then samt.csh_stlm_amt *(-1)
		    	else samt.csh_stlm_amt
		    	end csh_stlm_amt,
		   case when samt.sal_tp_cd = 'RTN' then samt.crd_stlm_amt *(-1)
		    	else samt.crd_stlm_amt
		    	end crd_stlm_amt,
		    case when samt.sal_tp_cd = 'RTN' then samt.pnt_stlm_amt *(-1)
		    	else samt.pnt_stlm_amt
		    	end pnt_stlm_amt,
		    
		    samt.lst_upd_id,
		    (
		        SELECT 																
		            usmt.user_nm
		        FROM
		            ma_user_mt usmt
		        WHERE
		            samt.lst_upd_id = usmt.user_id
		     ) user_nm,
		    to_char(samt.lst_upd_dt, 'YYYY-MM-DD') AS lst_upd_dt_time
	FROM
		    cs_sal01_mt    samt
		    LEFT JOIN CS_CUST01_MT   CSMT ON csmt.cust_no = samt.cust_no
		    LEFT JOIN MA_PRT_MT      PRTMT ON samt.prt_cd = PRTMT.prt_cd
		    LEFT JOIN ma_user_mt     usmt ON samt.lst_upd_id = usmt.user_id
	    
	WHERE
		1 = 1
   														
   				and SAL_DT between to_date(#{fromDate},'YYYY-MM-DD') 				<!-- 가입날짜(_js_dt)는 fromDate 날짜와 사이에 toDate날짜 사이에 위치 --> 
       								and to_date(#{toDate},'YYYY-MM-DD')
       			and prtmt.prt_cd = #{jn_prt_cd}
		        <if test="cust_no != ''">			<!-- 고객번호(cust_no) 존재, 매장코드(jn_prt_cd) 없는경우 -->
		            and samt.cust_no = #{cust_no}
		        </if>

			
			order by SAL_DT DESC,SAMT.SAL_NO ASC
	</select>
	
	<!-- 고객판매수금등록(팝업)의 공통코드 sal_tp_cd(판매구분), crd_co_cd(카드회사) -->
	<select id="selectSaltpCd" resultType="com.dowell.edu.vo.common.CodeDetailVO">
	SELECT
	      CODE_CD
	     ,DTL_CD
	     ,DTL_CD_NM
	FROM
	     MA_CODE_DT
	WHERE
		 CODE_CD in('SAL_TP_CD'
		 			,'CRD_CO_CD')
	ORDER BY DTL_CD ASC
	
	</select>

	<!-- selectpartnerInvenInqList -->
	<select id="selectpartnerInvenInqList" resultType="com.dowell.edu.vo.sales.SalesIvcoMasterVO">
	SELECT
	   	 IVCMT.PRT_CD
	   	 ,IVCMT.PRD_CD
	   	 ,PRDMT.PRD_NM
	   	 ,IVCMT.IVCO_QTY
	   	 ,PRDMT.PRD_CSMR_UPR
	   	 ,PRDMT.PRD_TP_CD
	   	 ,PRDMT.TAX_CS_CD
	   	 ,PRDMT.PRD_SS_CD
	FROM
	   	 SD_IVCO01_MT   IVCMT
	   	 LEFT JOIN MA_PRD01_MT    PRDMT ON IVCMT.PRD_CD = PRDMT.PRD_CD
	WHERE
		1 =1
	   	 AND PRT_CD = #{prt_cd}
	  	<if test="prd_cd != ''">
	  		and IVCMT.PRD_CD like '%' || #{prd_cd} || '%'
	  		or prd_nm like '%' || #{prd_cd} || '%'
	  	</if>

	</select>

	<select id="selectprdInventorySearch" resultType="com.dowell.edu.vo.sales.SalesIvcoMasterVO">
	SELECT
	   	 IVCMT.PRT_CD
	   	 ,IVCMT.PRD_CD
	   	 ,PRDMT.PRD_NM
	   	 ,IVCMT.IVCO_QTY
	   	 ,PRDMT.PRD_CSMR_UPR
	   	 ,PRDMT.PRD_TP_CD
	   	 ,PRDMT.TAX_CS_CD
	   	 ,PRDMT.PRD_SS_CD
	FROM
	   	 SD_IVCO01_MT   IVCMT
	   	 LEFT JOIN MA_PRD01_MT    PRDMT ON IVCMT.PRD_CD = PRDMT.PRD_CD
	WHERE
		1 =1
	   	 AND PRT_CD = #{prt_cd}
	  	and IVCMT.PRD_CD = #{prd_cd}
	  	
	</select>
	<select id="selectprdInventoryNm" resultType="com.dowell.edu.vo.sales.SalesIvcoMasterVO">
	SELECT
	   	 IVCMT.PRT_CD
	   	 ,IVCMT.PRD_CD
	   	 ,PRDMT.PRD_NM
	   	 ,IVCMT.IVCO_QTY
	   	 ,PRDMT.PRD_CSMR_UPR
	   	 ,PRDMT.PRD_TP_CD
	   	 ,PRDMT.TAX_CS_CD
	   	 ,PRDMT.PRD_SS_CD
	FROM
	   	 SD_IVCO01_MT   IVCMT
	   	 LEFT JOIN MA_PRD01_MT    PRDMT ON IVCMT.PRD_CD = PRDMT.PRD_CD
	WHERE
		1 =1
	   	 AND PRT_CD = #{prt_cd}
	  	
	  	and prd_nm = #{prd_cd}
	  	
	</select>
	
	<select id="salesDetailList" resultMap="SalesMasterVO">
	SELECT
	   	 SALMT.CUST_NO,
	   	 SALDT.SAL_NO,
	   	 SALDT.PRD_CD,
	   	 TO_CHAR(TO_DATE(SALDT.SAL_DT,'YYMMDD'),'YYYY-MM-DD') SAL_DT,
	   	 SALDT.PRT_CD,
	   	 PRDMT.PRD_NM,
	   	 SALDT.SAL_QTY,
	   	 SALDT.SAL_AMT,
	   	 SALMT.SAL_TP_CD
	FROM
	   	 CS_SAL01_DT   SALDT
	   	 LEFT JOIN CS_SAL01_MT   SALMT ON SALMT.PRT_CD = SALDT.PRT_CD
	                                   AND SALMT.SAL_DT = SALDT.SAL_DT
	                                   AND SALMT.SAL_NO = SALDT.SAL_NO
	   	 LEFT JOIN MA_PRD01_MT PRDMT ON PRDMT.PRD_CD = SALDT.PRD_CD
	WHERE
	 	 	 SALMT.CUST_NO = #{cust_no} 
		 AND SALDT.PRT_CD =#{prt_cd}
		 AND SALDT.SAL_DT=#{sal_dt}
		 AND SALDT.SAL_NO=#{sal_no}
	</select>

	<select id="selectSalesDetailHead" resultMap="SalesMasterVO">
	SELECT
		    SALMT.PRT_CD,
		    PRTMT.PRT_NM,
		    SALMT.CUST_NO,
		    CUSTMT.CUST_NM,
		    SALMT.TOT_SAL_QTY,
		    SALMT.TOT_SAL_AMT,
		    SALMT.CSH_STLM_AMT,
		    SALMT.CRD_STLM_AMT,
		    SALMT.SAL_TP_CD,
		    SALMT.SAL_NO,
		    SALMT.SAL_DT
	FROM
		    CS_SAL01_MT    SALMT
		    LEFT JOIN CS_CUST01_MT   CUSTMT ON SALMT.CUST_NO = CUSTMT.CUST_NO
		    LEFT JOIN MA_PRT_MT      PRTMT ON SALMT.PRT_CD = PRTMT.PRT_CD
	WHERE
		    CUSTMT.CUST_NO = #{cust_no}
		    AND SALMT.PRT_CD =#{prt_cd}
		    AND SALMT.SAL_DT=#{sal_dt} 
		    AND SALMT.SAL_NO=#{sal_no}
	
	</select>

	<select id="selectCustomerRtnList" resultType="com.dowell.edu.vo.sales.SalesMasterVO">
	SELECT DISTINCT
		    SALMT.PRT_CD,
		    SALMT.SAL_DT,
		    SALMT.SAL_NO,
		    SALMT.SAL_TP_CD,
		    SALMT.TOT_SAL_QTY,
		    SALMT.TOT_SAL_AMT,
		    SALMT.TOT_VOS_AMT,
		    SALMT.TOT_VAT_AMT,
		    SALMT.CSH_STLM_AMT,
		    SALMT.CRD_STLM_AMT,
		    SALMT.PNT_STLM_AMT,
		    SALMT.CUST_NO,
		    SALMT.CRD_NO,
		    SALMT.VLD_YM,
		    SALMT.CRD_CO_CD,
		    SALMT.FST_REG_DT,
		    SALMT.FST_USER_ID,
		    SALMT.LST_UPD_DT,
		    SALMT.LST_UPD_ID
	FROM
		    CS_SAL01_DT   SALDT
		    LEFT JOIN CS_SAL01_MT   SALMT ON SALMT.PRT_CD = SALDT.PRT_CD
		                                   AND SALMT.SAL_DT = SALDT.SAL_DT
		                                   AND SALMT.SAL_NO = SALDT.SAL_NO
	WHERE
		    SALMT.CUST_NO = #{cust_no}
		    AND SALDT.PRT_CD = #{prt_cd}
		    AND SALDT.SAL_DT = #{sal_dt}
		    AND SALDT.SAL_NO = #{sal_no}
	</select>
	
	<insert id="insertRtn">
	<foreach item="list" collection="listr" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
	 INTO CS_SAL01_MT (
							    PRT_CD,
							    SAL_DT,
							    SAL_NO,
							    SAL_TP_CD,
							    TOT_SAL_QTY,
							    TOT_SAL_AMT,
							    TOT_VOS_AMT,
							    TOT_VAT_AMT,
							    CSH_STLM_AMT,
							    CRD_STLM_AMT,
							    PNT_STLM_AMT,
							    CUST_NO,
							    CRD_NO,
							    VLD_YM,
							    CRD_CO_CD,
							    FST_REG_DT,
							    FST_USER_ID,
							    LST_UPD_DT,
							    LST_UPD_ID
							) VALUES (
							    #{list.prt_cd},
							    to_char(SYSDATE, 'YYYYMMDD'),
							 	(
							 		select nvl(max(sal_no),0) + 1
							 		FROM CS_SAL01_MT
							 			WHERE  
											     PRT_CD = #{list.prt_cd}
											    AND SAL_DT = #{list.sal_dt}
											    AND SAL_NO = #{list.sal_no}
							 	
							 	),
							 	
							    'RTN',
							    #{list.tot_sal_qty},
							    #{list.tot_sal_amt},
							    #{list.tot_vos_amt},
							   	#{list.tot_vat_amt},
							    #{list.csh_stlm_amt},
							    #{list.crd_stlm_amt},
							    #{list.pnt_stlm_amt},
							    #{list.cust_no},
							    #{list.crd_no, jdbcType=VARCHAR},
							    #{list.vld_ym, jdbcType=VARCHAR},
							    #{list.crd_co_cd, jdbcType=VARCHAR},
							    #{list.fst_reg_dt},
							    #{list.fst_user_id},
							    SYSDATE,
							    #{list.user_id}
							)
	</foreach>
	</insert>

	<select id="selectDetailRtnList" resultType="com.dowell.edu.vo.sales.SalesDetailVO">
	
	SELECT
		    SALDT.PRT_CD,
		    SALDT.SAL_DT,
		    SALDT.SAL_NO,
		    SALDT.SAL_SEQ,
		    SALDT.PRD_CD,
		    SALDT.PRD_CSMR_UPR,
		    SALDT.SAL_QTY,
		    SALDT.SAL_AMT,
		    SALDT.SAL_VOS_AMT,
		    SALDT.SAL_VAT_AMT,
		    SALDT.FST_REG_DT,
		    SALDT.FST_USER_ID,
		    SALDT.LST_UPD_DT,
		    SALDT.LST_UPD_ID
	FROM
		    CS_SAL01_DT   SALDT
		    LEFT JOIN CS_SAL01_MT   SALMT ON SALMT.PRT_CD = SALDT.PRT_CD
		                                   AND SALMT.SAL_DT = SALDT.SAL_DT
		                                   AND SALMT.SAL_NO = SALDT.SAL_NO
	WHERE
		    SALMT.CUST_NO = #{cust_no}
		    AND SALMT.PRT_CD = #{prt_cd}
		    AND SALMT.SAL_DT = #{sal_dt}
		    AND SALMT.SAL_NO = #{sal_no}
	
	</select>
	
	<update id="insertdetailRtn">
	<foreach item="list" collection="listd" index="index" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
		 INTO CS_SAL01_DT (
								    PRT_CD,
								    SAL_DT,
								    SAL_NO,
								    SAL_SEQ,
								    PRD_CD,
								    PRD_CSMR_UPR,
								    SAL_QTY,
								    SAL_AMT,
								    SAL_VOS_AMT,
								    SAL_VAT_AMT,
								    FST_REG_DT,
								    FST_USER_ID,
								    LST_UPD_DT,
								    LST_UPD_ID
								) VALUES (
								    #{list.prt_cd},
								    to_char(SYSDATE, 'YYYYMMDD'),
								    (
							 		select nvl(max(sal_no),0) + 1
							 		FROM CS_SAL01_DT
							 			WHERE  
											     PRT_CD = #{list.prt_cd}
											    AND SAL_DT = #{list.sal_dt}
											    AND SAL_NO = #{list.sal_no}
							 	
							 		),
								    #{list.sal_seq},
								    #{list.prd_cd},
								    #{list.prd_csmr_upr},
								    #{list.sal_qty},
								    #{list.sal_amt},
								   	#{list.sal_vos_amt},
								    #{list.sal_vat_amt},
								   	#{list.fst_reg_dt},
								    #{list.fst_user_id},
								    SYSDATE,
								    #{list.user_id}
								)
	
	
	</foreach>
	</update>
</mapper>