 body{
    width:100%;
    height: 768px;
    overflow: auto;
  }
  *{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding:0px;
    color:#000;
    
}
    .tg {
      border-collapse: collapse;
      border-spacing: 0;
      width: 82%;
      
    }

    .tg td {
     
      font-family: Arial, sans-serif;
      font-size: 14px;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

    .tg th {
    
      font-family: Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      overflow: hidden;
      padding: 10px 5px;
      word-break: normal;
    }

    .tg .tg-0lax {
      text-align: left;
      vertical-align: top
    }
    .first-tool {
      border: 2px solid silver;
      background: rgb(173, 190, 238);
      width: 80%;
      height: 80px;
      margin-left: 38px;
      margin-top: 19px;
    }
    #tool-table{
      margin-left: 15px;
      margin-top: 25px;
      text-align: center;
      float: left;
    }
    #tool-table input{
      height: 26px;
      width: 138px;
      margin-top: -4px;
      margin-left: 19px;
    }
    .custSearchBtn{
      width: 36px;
      height: 32px;
      margin-top: -5px;
      margin-left: -4px;
    }
    .searchBtn{
      float: right;
    }
    .searchBtn button{
      width: 67px;
      height: 60px;
      margin-top: 8px;
    }
    h4{
      margin-top: 14px;
      margin-left: 38px;
      color: gray;
    }
    .detail01 {
      margin-left: 38px;
      margin-top: 10px;
    }
    .detail02{
      margin-left: 38px;
      margin-top: 10px;
    }
    .detail03{
      margin-left: 38px;
      margin-top: 10px;
    }
    .btndiv{
      margin-top: 13px;
      margin-left: 42px;
      width: 80%;
    }
    #detailChgBtn{
      float: right;
      width: 196px;
      height: 40px;
  }
  button{
    width: 33px;
  }
  aside{
	float: right;
    height: 204px;
    margin-right: -413px;
    margin-top: -600px;
    width: 10%;
}
.required:before {
	content: "*";
	display:inline-block;
	color: red;
	margin-left:-4px;
}
.mainTitle{
	margin-left: 43px; 
	font-size: 19px; 
	font-weight: bold;
}