body {
  width: 100%;
  height: 650px;
  overflow: auto;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #000;

}

.mainTitle {
  margin-left: 43px;
  font-size: 19px;
  font-weight: bold;
}

.firtBox {
  border: 2px solid silver;
  background: rgb(173, 190, 238);
  width: 80%;
  height: 100px;
  margin-left: 38px;
  margin-top: 20px;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: 44px;
  width: 97%;
  height: 100px;
  margin-top: 13px;

}

.tk {
  border-collapse: collapse;
  border-spacing: 0;
  width: 97%;
  margin-left: 45px;
}

.tk td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tk th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tk .tk-0pky {
 	 border-color: inherit;
  	text-align: left;
  	vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    background-color: #f6b966;
    color: #ff5722;
    text-align: right;
}

.tk .tk-0lax {
  text-align: left;
  vertical-align: top
}

.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 8px 5px;
  word-break: normal;
  
}

.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 3px 5px;
  word-break: normal;
  background-color: #cfcdcd;
}

.tg .tg-0pky {
  border-color: inherit;
  text-align: center;
  /*vertical-align: top*/
}

#allSearchBtn {
  width: 55px;
  height: 50px;
  float: right;
  margin-top: 4px;
  margin-right: 10px;

}

#allSearchBtnNull {
  width: 55px;
  height: 50px;
  float: right;
  margin-top: 4px;
  margin-right: 10px;

}

.required:before {
  content: "*";
  display: inline-block;
  color: red;
  margin-left: -4px;
}

#btn_reset {
  border: none;
  background: white;
}

#partnerSearchInputCd {
  background: #dfdddd;
}

#customSearchInputName {
  background: #dfdddd;
}

.th {
  margin-top: -8px;
  width: 100%;
  margin-left: 5px;
  padding-left: 27px;
}

#newCust {
  float: right;
  margin-top: 12px;
  width: 171px;
  height: 33px;
  margin-right: 391px;

}

aside {
  float: right;
  height: 204px;
  margin-right: 75px;
  margin-top: -123px;
  width: 10%;
}
