body {
	width: 750px;
	height: 300px;
}

.infocontainer {
	border: 2px solid silver;
	background: rgb(192 205 243);
	width: 700px;
	height: 60px;
	margin-left: 20px;

}

#infoDev {
	float: left;
	margin-top: 19px;
	margin-left: 15px;
	color: #379ff2;
}

.historyNo {
	margin-top: -19px;
	margin-left: 51px;
	color: #379ff2;
}

.historyNm {
	margin-top: -21px;
	margin-left: 145px;
	color: #379ff2;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: 19px;
	width: 700px;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-size: 13px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
	text-align: center;
}

.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	padding: 0px 5px;

	word-break: normal;
	background-color: #cfcdcd;
}

.tg .tg-0lax {
	border-color: inherit;
	text-align: center;
	vertical-align: top;
}

.closeDev {
	/* border: 1px solid rgb(179, 171, 171);
	width: 700px;
	height: 50px;
	margin-left: 20px;
	margin-top: 72px;
	background: #ecdcdc; */
	border: 1px solid rgb(179, 171, 171);
     background-color: rgb(228 219 219);
    width: 700px;
    height: 50px;
    margin-left: 20px;
    margin-top: 50px;
}
.submitBtn{
	width: 90px;
    height: 41px;
}
.closeBtn {
	margin-left: 38%;
    margin-top: 5px;
    width: 90px;
    height: 41px;
}

.tk {
	border-collapse: collapse;
	border-spacing: 0;
	width: 700px;
	margin-top: 12px;
	font-size: 12px;
}

.tk td {
	/*border-color: black;
	padding: 5px 5px;
	border-style: solid;*/
	border-width: 1px;
	overflow: hidden;

	word-break: normal;
}

.tk th {
	/*border-color: black;
	padding: 5px 5px;
	border-style: solid;*/
	border-width: 1px;
	font-weight: normal;
	overflow: hidden;
	
	word-break: normal;
}

.tk .tk-0lax {
	text-align: left;
	vertical-align: top
}
.history{
	border: none;
	outline: none;
	width: 86px;
	text-align: center;
	
}