<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partner"> <!-- parameterType은 생략가능, 생략됨 -->

	<!-- 매장팝업 -->
	<select id="selectPartnerSearchList" resultMap="PartnerVO" parameterType="Map">
		SELECT 
			   prtmt.prt_cd, 						--매장번호	
		       prtmt.prt_nm, 						--매장명	
		       prtmt.prt_dt_cd, 					--거래처구분코드 1본사2매장	
		       CASE
			        WHEN prtmt.prt_ss_cd = '10' THEN cddt.dtl_cd_nm
			        WHEN prtmt.prt_ss_cd = '80'  THEN cddt.dtl_cd_nm
			        ELSE  cddt.dtl_cd_nm
			   END AS prt_ss_cd						--거래처상태코드
		FROM   ma_prt_mt prtmt  					--거래처관리 table
		       LEFT JOIN ma_code_dt cddt 			--코드상세table
		              ON prtmt.prt_ss_cd = cddt.dtl_cd
		WHERE  cddt.code_cd = 'PRT_SS_CD' 
		
			<if test="prt_nm != ''">
				and prt_nm like '%' || #{prt_nm} || '%' --prt_nm
				or 	prt_cd like '%' || #{prt_nm} || '%' 

			</if>
				
	</select>

		        
<resultMap type="com.dowell.edu.vo.common.PartnerVO" id="PartnerVO">
    	<result column="prt_cd" property="prt_cd"/>
    	<result column="prt_nm" property="prt_nm"/>
    	<result column="prt_dt_cd" property="prt_dt_cd"/>
    	<result column="code_cd" property="code_cd"/>
    	<result column="dtl_cd" property="dtl_cd"/>
    	<result column="dtl_cd_nm" property="dtl_cd_nm"/>

	</resultMap>
</mapper>